{% extends "base.twig" %}

{% block content %}
  <main class="site-main single">
    <article>
      <h1>{{ post.title }}</h1>
      <div class="entry-content">{{ post.content }}</div>
    </article>
  </main>
{% endblock %}
